.box{
    height: 170px;
    width: 400px;
    background-color: #f9fafc;
    display: flex;
    flex-direction: row ;
    
}
.colum{
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.lettercard{
width: 80px;
height: 35px;
background-color: #ebeef3;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial, sans-serif; 
font-weight: bold;

}
header{
    width: 400px;
    height: 30px;
    background-color: #f9fafc;
}