div[ class="hcn"] {
    background-color: rgb(128, 47, 0);
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 70px;
    width: 470px;
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-evenly;

    
}
.thecach {
    display: flex;
    justify-content: space-between ;
    width: 455px;
}
